# https://github.com/changesets/action/issues/70
name: Release

on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions:
  contents: write
  pull-requests: write
  id-token: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
      id-token: write

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Setup
        uses: ./.github/setup

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        #uses: changesets/action@v1
        uses: GarthDB/changesets-action@v1.6.9
        with:
          version: pnpm ci:version
          publish: pnpm ci:publish
          oidcAuth: true # Test OIDC without proto shims
        env:
          GITHUB_TOKEN: ${{ secrets.CHANGESETS_TOKEN }}

      # - name: Publish to npm
      #   uses: changesets/action@e0145edc7d9d8679003495b11f87bd8ef63c0cba
      #   if: steps.changesets.outputs.hasChangesets == 'false'
      #   run: pnpm ci:publish
      #   env:
      #     #GITHUB_TOKEN: ${{ secrets.CHANGESETS_TOKEN }}
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #     NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      #     NPM_CONFIG_PROVENANCE: true
