name: Tests

on:
  pull_request:
    branches: ["*"]
  push:
    branches: ["main", "changesets/release"]
  merge_group:
  workflow_dispatch:
    inputs:
      pr_number:
        description: "PR number to run CI for"
        required: false
        type: string

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

permissions:
  contents: read
  pull-requests: read
  checks: write
  statuses: write

env:
  FORCE_COLOR: 3

jobs:
  node_versions:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22, 24]
    name: Test (Node.js ${{ matrix.node-version }})
    steps:
      - uses: actions/checkout@v6

      - uses: ./.github/setup

      - name: Build packages
        run: |
          pnpm build

      - name: Run tests
        run: pnpm test
